.containerInfo {
    background-color: #fcfcfc;
    width: calc(100% - 20px);
    padding: 15px;
    padding-right: 0px;
}

.boxRestaurant {
    display: flex;

    /* grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); */

}

.boxRestaurantInfo {
    background-color: white;
    position: relative;
    font-family: sans-serif;
    border-radius: 10px;
    overflow: hidden;
    min-width: 330px;
}


.divRestaurantInfo {
    position: absolute;
    z-index: 1;
    top: 200px;
    width: 100%;

}

.boxRestaurantInfo img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.divRestaurantDes {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 1px 3px 1px rgba(206, 206, 206, 0.493);

}

.divRestaurantDes1 {
    padding: 0px 10px
}

.btnCloseDialog {
    margin-bottom: 0px;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 50px;
    margin: 0px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: linear-gradient(#383838a5, transparent);
}

.divRestaurantDes .partnerTitle {
    margin: 10px 0px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    color: #13C0BF;

}

.partnerTitle img {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}

.restaurantName {
    margin: 8px 0px;
    font-weight: bold;
    text-align: center;
    font-size: 20px !important;
}


.divRestaurantDes .restaurantProperty {
    margin: 5px 0px;
    text-align: center;
    font-size: 13px;
}

.restaurantGrBook {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 0px;

    border-bottom: 1px rgb(226, 226, 226) solid;
}

.restaurantGrBook span:nth-child(2) {
    color: #13C0BF;
    cursor: pointer;
}


.restaurantCoupon {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: orange;
    word-wrap: none;
    padding: 15px 0px;
    border-bottom: 1px rgb(226, 226, 226) solid;

}

.restaurantCoupon p {
    margin: 0px;
}

.restaurantCoupon>span:nth-child(1) {
    word-wrap: none;
}

.restaurantCoupon>span:nth-child(2) {
    color: #13C0BF;
    width: 100px;
    text-align: right;
    cursor: pointer;
    font-weight: bold;
}

.restaurantReview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: #13C0BF;
    padding: 15px 0px;
}

.restaurantRvProperty {
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.restaurantRvProperty img,
.restaurantCoupon img {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}

.restaurantRvProperty img {
    margin-top: -5px;
}

.restaurantRvProperty p {
    color: rgb(99, 99, 99);
    margin: 0px 0px;
    display: flex;
    align-items: center;
    line-height: 0px;
}

.boxRestaurantDis {
    width: calc(100% - 5px);
    height: 85vh;
    font-family: sans-serif;
    overflow-y: scroll;
    margin-left: 5px;
}

.sectionDishes {
    width: 100%;
}

.sectionDishesTitle {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px 10px 15px;
    color: #0b8282;
    margin: 0px;
}

.boxRestaurantItem {
    display: grid;
    padding-left: 10px;
    background-color: white;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}





.restaurantDishesBox {
    display: flex;
    padding: 10px 5px;
    position: relative;
    background-color: #ffffff;
}

.layerSoldOut {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.578);
}

.restaurantDishesBox img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 5px;
}

.resTaurantDisDes {
    cursor: pointer;
    overflow: hidden;

}



.CloseIconI {
    border-radius: 50px;
    color: white;
    margin: 5px;
    padding: 5px;
    background-color: rgba(19, 19, 19, 0.479);
}

.resTaurantDisDesP1 {
    margin: 1px;
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;

}

.resTaurantDisDesP {
    margin: 5px 0px !important;
    letter-spacing: 0px;
}

.restaurantDishesBox p:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(88, 88, 88);
    letter-spacing: 0px;
    margin-top: 0px;
}

.boxSectionDis {
    position: none !important;
}


.divOptionsInfo p {
    margin: 15px 0px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

.requireOptionDes {
    margin: 0px;
    font-size: 14px;
    padding: 0px 15px 10px;



}

.restaurantNote {
    width: calc(100% - 24px) !important;
    border: none;
    padding: 7px;
    outline: none;
    background-color: rgba(241, 241, 241, 0.404);
    font-size: 14px;
    margin-top: 10px;
    height: 70px !important;
    resize: none;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 65px;
}


.boxOpsSelectedInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0px;
}

.boxOpsLeft {
    display: flex;
    align-items: center;
}

.boxOpsLeft div {
    background-color: #ebebeb;
    border-radius: 8px;
    color: #13C0BF;
    margin-right: 2px;
    padding: 5px 6px 0px 6px;
    cursor: pointer;
}

.boxOpsMulti {
    margin-right: 10px;
}

.boxOpsMulti div {
    font-size: 14px !important;
    padding: 4px 4px 0px 4px;
    border-radius: 5px;



}

.divOpsQuantity {
    background-color: white !important;
    color: #13C0BF !important;
    padding-top: 0px !important;
}

.boxOpsRight {
    background-color: #13C0BF;
    padding: 10px 30px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.boxOpsRadio label {
    width: 100%;
}

.boxOpsRadio input {
    margin-left: 0px;
    margin-right: 5px;
}

.dishesSlectPreview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.dishesSlectPreview>div:nth-child(1) {
    display: flex;
    align-items: center;
    color: #13C0BF;
    border: 2px #13C0BF solid;
    border-radius: 10px;
    padding: 4px 8px;
    cursor: pointer;
}

.dishesSlectPreview>div:nth-child(1) span {
    font-size: 14px;
    margin-bottom: -3px;
    margin-left: 3px;
}

.dishesSlectPreview>div:nth-child(2) {
    display: flex;
    align-items: center;
    background-color: #13C0BF;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.boxCart {
    position: absolute;
    z-index: 1;
    width: calc(100% - 10px);
    bottom: 100px;
    height: 67vh;
    left: 5px;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px rgba(206, 206, 206, 0.493);
    background-color: rgb(247, 247, 247);

}

.closeCartDiv {
    padding: 2px;
    cursor: pointer;
    border-radius: 105px;
}

.closeCartDiv:hover {
    background-color: rgb(231, 231, 231);
}

.boxCartBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(231, 231, 231);

    padding: 0px 10px 5px 10px;
}

.boxCartBar>span:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
}

.boxCartBar>span:nth-child(3) {
    color: #13C0BF;
}

.divCart {
    padding: 10px;
    background-color: white;
}

.divCart>p {
    margin: 5px 0px;
    font-size: 14px;
}

.divCart>p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}

.cartPriceQty {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

@media screen and (max-width:690px) {

    .boxRestaurant {
        display: block;
    }

    .boxRestaurantInfo {
        margin-bottom: 10px;
        width: 100% !important;
    }

    .boxRestaurantDis {
        overflow: inherit;
        margin-left: 0px;
        width: 100%;
    }

    .restaurantGrBook {
        margin-top: 85px;
    }

    .restaurantDishesBox {
        border-bottom: 1px dotted rgb(231, 231, 231);

    }

    .boxRestaurantItem {
        padding: 0px;
    }

    .sectionDishesTitle {
        padding-left: 10px;

    }

    .requireOptionDes {
        padding-left: 10px;
    }

    .restaurantNote {
        margin-bottom: 10px;
    }

    .boxRestaurantInfo .boxOpsSelectedInfo {
        position: fixed;
        left: 0px;
        z-index: 1;
        background-color: white;
        padding-bottom: 10px;
        width: calc(100% - 100px) !important;
        padding: 15px 50px 40px 50px;
        justify-content: space-around;
    }

    .dishesSlectPreview {
        position: fixed;
        left: 0px;
        z-index: 2;
        bottom: 0px;
        background-color: white;
        width: 100%;
        padding: 20px 10px 50px;


    }

}


@media screen and (max-width:500px) {
    .boxRestaurantInfo .boxOpsSelectedInfo {
        width: calc(100% - 20px) !important;
        padding: 10px 10px 50px;
        justify-content: space-between;
    }

    .dishesSlectPreview {
        position: fixed;
        left: 0px;
        z-index: 2;
        bottom: 0px;
        background-color: white;
        width: calc(100% - 40px);
        padding: 10px 20px 50px;
        justify-content: space-between;

    }

    .containerInfo {
        padding: 0 !important;
        width: calc(100%);
    }

    .restaurantGrBook {
        margin-top: 100px;
    }

    .btnCloseDialog {
        margin: 0px;
        border-radius: 0px !important;
    }

    .boxRestaurantInfo {
        border-radius: 0px !important;
        min-width: 100% !important;
    }
}


@media screen and (max-width:350px) {

    .restaurantDishesBox {
        width: calc(100% - 10px);
        margin: 0px 0px;
    }

    .boxRestaurantItem {
        display: block;
        padding: 0px;
    }

    .partnerTitle,
    .restaurantProperty,
    .restaurantProperty {
        font-size: 11px !important;
        margin: 5px !important;
    }

    .restaurantName {
        font-size: 16px !important;
        margin: 5px 0px !important;
    }

    .restaurantCoupon,
    .restaurantGrBook,
    .restaurantReview,
    .restaurantRvProperty {
        padding: 8px 0px;
        font-size: 12px;
    }

    .restaurantRvProperty img,
    .restaurantCoupon img {
        width: 15px;
        height: 15px;
        margin-bottom: -2px;
    }

    .restaurantGrBook {
        margin-top: 75px;

    }

    .sectionDishesTitle {
        font-size: 14px;
    }

}