body {
  margin: 0;
  background-color: #F7F7F7;
  min-height: 100px;
}

* {
  -webkit-tap-highlight-color: rgba(248, 248, 248, 0.397) !important;

}

.scroll_to_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #28adad;
  padding: 8px 9px 6px 9px;
  border-radius: 50px;
  z-index: 99999999;
  color: white;
  cursor: pointer;

}

.scroll_to_top:hover {
  background-color: #198282;
}

.react-multiple-carousel__arrow {
  z-index: 0 !important;
}



@media screen and (min-width:690px) {


  ::-webkit-scrollbar {
    width: 5px;
  }



  ::-webkit-scrollbar-thumb {
    background: #13C0BF;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #198282;
  }
}